:root {
    --walton-red: #C12211;
    --walton-blue: #1A187E;
}

* {
    box-sizing: border-box;
}

body{
    border: none;
    margin: 0;
}

.background {
    height: vh;
    background: darkgray;
}

.main-container {
    text-align: center;
    height: 1500px;
}

.header {
    background: var(--walton-red);
    height: 100px;
}

.title {
    color: white;
}

.title .logo {
    width: 45px;
    height: auto;
}

.nav {
    background-color: aqua;
}

.nav-link {
    background: white;
    color: black;
}

.center-container {
    margin: 0 auto;
    width: 80%;
    min-width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.sidebar {
    width: 20%;
    min-width: fit-content;
    background: var(--walton-blue);
    color: white;
}

.main-text {
    width: 80%;
    background: white;
}

.parallax {
  background-image: url("images/team.jpg");

  min-height: 750px; 

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}