:root {
    --walton-red: #C12211;
    --walton-blue: #1A187E;
    --walton-light-blue: #2D489B;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

body{
    border: none;
    margin: 0;
    display: flex;
    flex-direction: column;
}

html, body {
    padding: 0;
    margin: 0;
    min-height: 100%;
}

/* Parallax effect */
.parallax {
    background-image: url("/images/varsityTeam.jpg");
  
    min-height: 750px; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background {
    height: vh;
    background: darkgray;
}

.main-container {
    text-align: center;
    height: 100%;
}

.header {
    background: var(--walton-red);
    height: fit-content;
}

.title {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
}

.title .logo {
    width: 60px;
    height: 60px;
    margin: 15px 20px;
}


.nav-bar {
    margin: 0 10%;
    height: fit-content;
    display: relative;
    padding: 20px;
    background-color: var(--walton-blue);
    position: sticky;
    top: 0;
}

.nav-link {
    margin: 10px;
    padding: 10px;
    display: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--walton-light-blue);
    color: white;
}

.center-container {
    margin: 0 10%;
    min-width: 80%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 100px;
}

.sidebar {
    width: 20%;
    min-width: fit-content;
    background: var(--walton-blue);
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: sticky;
    top: 59px;
}

.sidebar-tile {
    margin: 0 auto 20px;
    width: 90%;
    background: lightgray;
}

#sponsor-tile img {
    width: 100%;
}

.main-text {
    width: 80%;
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.blog-post {
    border: 5px 0 0 0;

    margin: 10px;
}

.entry {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-bar {
    background-color: green;
    position: relative;
    flex-direction: column;
}

footer {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0;
    width: 100%;
    height: fit-content;
    background-color: var(--walton-blue);
    text-align: center;
    padding: 3px;
    padding-bottom: 20px;
    word-spacing: 1px;
    color: white;
}

#home-address:link {
    color: yellow;
}

#home-address:visited {
    color: orange;
}

/* Style all social media icons */
.fa {
    padding: 17px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
/* Social Media Icon hover effect*/
.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #F56040;
  color: white;
}